.container {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  width: 220px;
}
.buttonsContainer {
  margin: 10px 0 0 10px;
  display: flex;
  margin-top: 10px;
  .button {
    margin-right: 20px;
  }
}