.dark {
    background: dimgrey;
}

.darkText {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.redText {
    color: aqua;
}

.some {
    background: lightgreen;
}

.someText {
    color: darkslateblue;
}

.orange {
    background: orange;
}
.orangeText {
    color: black;
}
.pink {
    background: deeppink;
}
.pinkText {
    background: chocolate;
}