.message {
  display: flex;
  margin: 10px;
  align-items: flex-end;

  .avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }

  .angel {
    width: 20px;
    height: 20px;
    background: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 20px, rgba(255, 255, 255, 0.3) 0);
  }

  .content {
    display: flex;
    position: relative;
    padding-left: 25px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    width: 250px;
    height: 100px;
    border-radius: 5px 5px 5px 0;

    .name {
      color: chartreuse;
      font-weight: bold;
    }

    .text {
      color: orange;
    }

    .time {
      position: absolute;
      color: aliceblue;
      bottom: 10px;
      right: 20px;
      justify-content: flex-end;
    }
  }
}
