.someClass {
  position: relative;
  margin-left: 10px;
}

.affairButton {
  background: green;
  color: lawngreen;
  margin-right: 20px;
  width: 60px;
}

.activeFilter {
  background-color: lawngreen;
  color: green;
}
