.affairContainer{
  display: flex;
  width: 340px;
  justify-content: space-between;
  margin-bottom: 10px;
  .affairName {
    width: 80px;
  }
  .priorityAll {
    width: 80px;
  }
  .priorityHigh {
    color: red;
  }
  .priorityMiddle {
    color: orange;
  }
  .delButton{
    background: green;
    color: lawngreen;
    width: 80px;
  }
}