.header {
  display: flex;
  justify-content: flex-start;
  .nav {
    position: relative;
    transition: all 0.3s linear;

    .menuItem {
      margin-right: 10px;
    }
    a {
      color: white;
      text-decoration: none;
    }
    .activeLink {
      color: blueviolet;
    }
  }
  .toggleMenu {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(calc(100% + 5px), -50%);
    width: 20px;
    height: 20px;
    background-color: lawngreen;
    //align-self: flex-end;
  }

}

.hideMenu {
  transform: translateX(-100%);
  transition: 0.3s linear;
}

