.greetingBox{
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
  align-items: flex-start;
  height: 40px;
  .addBox{
    display: flex;
    flex-direction: column;
  }
}

.spanError {
  color: red;
}

.addButton {
  margin: 0 20px;
}

